---
import { getCollection, type CollectionEntry } from "astro:content";
import Blog from "@/layouts/blog.astro";
import type { BlogSchema } from "@/content/config";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((data) => ({
    params: { slug: data.slug },
    props: { entry: data },
  }));
}
const { entry } = Astro.props;
const post: BlogSchema = entry.data;
const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(post.date);
const { Content } = await entry.render();
---

<Blog title={post.title}>
  <article class="text-text">
    <div class="space-y-2 not-prose">
      <h1
        class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]"
      >
        {post.title}
      </h1>
      <p class="text-subtext0">
        {
          new Intl.DateTimeFormat("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          }).format(post.date)
        }
      </p>
    </div>
    <Content />
  </article>
</Blog>
