---
import { getCollection } from "astro:content";
import Blog from "@layouts/blog.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((data) => ({
    params: { slug: data.slug },
    props: { data },
  }));
}
const page = Astro.props;
const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(page.data.date);
const { Content } = await page.data.render();
---

<Blog>
  <h1>{page.data.title}</h1>
  <p class="text-sm">Soham Dasgupta | {formattedDate}</p>
  <Content />
</Blog>
