---
import { getCollection, type CollectionEntry } from "astro:content";
import Blog from "@/layouts/page.astro";
import type { BlogSchema } from "@/content/config";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((data) => ({
    params: { slug: data.slug },
    props: { entry: data },
  }));
}
const { entry } = Astro.props;
const post: BlogSchema = entry.data;
const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(post.date);
const { Content } = await entry.render();
---

<Blog title={post.title}>
  <h1>{post.title}</h1>
  <p class="text-subtext0 text-lg">{formattedDate}</p>
  <Content />
</Blog>
