---
import Base from "@layouts/blog.astro";
---

<Base>
  <h1>Soham</h1>
  <p>
    This flag is only allowed when --noEmit or --emitDeclarationOnly is enabled,
    since these import paths would not be resolvable at runtime in JavaScript
    output files. The expectation here is that your resolver (e.g. your bundler,
    a runtime, or some other tool) is going to make these imports between .ts
    files work.
  </p>
  <a href="/markdown-page">Markdown is also supported...</a>
</Base>
