---
import Shell from "@layouts/shell.astro";
---

<Shell title="Home">
  <div class="w-full text-center">
    <h4 class="text-2xl md:text-4xl lg:text--6xl text-mauve">Hi, I'm Soham</h4>
    <h1
      class="text-5xl/[1.1] font-semibold md:text-6xl/[1.1] lg:text-7xl/[1.1]"
    >
      Welcome to my site
    </h1>
  </div>
</Shell>
