<div
  class="flex flex-wrap items-center justify-between gap-2 rounded-t-lg border border-surface2 bg-crust py-2 pl-4 pr-2"
>
  <div class="flex items-center gap-4">
    <span class="inline-flex items-center gap-1.5">
      <span class="h-4 w-4 rounded-full bg-text"></span>
      <span class="h-4 w-4 rounded-full bg-text"></span>
      <span class="h-4 w-4 rounded-full bg-text"></span>
    </span>
    {(<p class="m-0 text-sm font-medium">Code</p>)}
  </div>
  <button
    class="inline-flex items-center justify-center gap-1 rounded-lg border border-surface2 px-2.5 py-1 text-sm font-medium transition hover:bg-text hover:text-base hover:text-sm"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      class="mr-0.5"
    >
      <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
      <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
    </svg>
    Copy
  </button>
</div>
<pre
  class="mt-0 overflow-x-auto break-normal rounded-t-none border-x border-b border-surface2 bg-[#232634] text-left">
  <slot />
</pre>
