---
import { socials } from "@/data/site.json";
---

<footer class="footer footer-center gap-4 bg-base-300 py-10">
  <!-- Message -->
  <aside class="flex text-sm">
    <span>Copyright ©</span>
    <span>{new Date().getFullYear()}</span>
    <span>Soham Dasgupta</span>
  </aside>

  <!-- Social -->
  <nav class="menu menu-horizontal">
    {
      socials.map((link) => (
        <li>
          <a
            href={link.url}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label={link.platform}
          >
            <svg
              class="h-4 w-4"
              aria-hidden="true"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox={link.viewBox}
            >
              <path d={link.iconPath} />
            </svg>
          </a>
        </li>
      ))
    }
  </nav>
</footer>
