---
import { socials } from "@/data/site.json";
---

<footer class="footer footer-center bg-base-300 py-16">
  <!-- Message -->
  <aside class="flex text-sm font-bold">
    <span>Copyright ©</span>
    <span>{new Date().getFullYear()}</span>
    <a href="/" class="!no-underline">Soham Dasgupta</a>
  </aside>

  <!-- Social -->
  <nav class="flex flex-wrap items-center justify-center gap-2">
    {
      socials.map((link) => (
        <a
          href={link.url}
          rel="noopener noreferrer nofollow"
          target="_blank"
          aria-label={link.platform}
          class="btn btn-circle btn-ghost"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox={link.viewBox}
          >
            <path d={link.iconPath} />
          </svg>
        </a>
      ))
    }
  </nav>
</footer>
