---
import { socials } from "@/data/site.json";
---

<footer class="py-20 pb-8 flex flex-col items-center print:hidden">
  <!-- divider -->
  <div class="relative mt-2 w-10/12 md:w-1/3">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full h-1 bg-overlay2"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-base px-2 text-text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="currentColor"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"
          ></path>
        </svg>
      </span>
    </div>
  </div>

  <!-- Social -->
  <div class="flex flex-wrap items-center justify-center gap-2 mt-8">
    {
      socials.map((link) => (
        <a
          href={link.url}
          rel="noopener noreferrer nofollow"
          target="_blank"
          aria-label={link.platform}
          class="align-center mr-2 flex h-10 w-10 items-center justify-center rounded-full bg-text text-base font-normal shadow-lg outline-none focus:outline-none hover:bg-mauve"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox={link.viewBox}
          >
            <path d={link.iconPath} />
          </svg>
        </a>
      ))
    }
  </div>

  <!-- Message -->
  <div class="mt-8 flex flex-wrap items-center justify-center">
    <div class="text-sm text-text">
      ©
      {new Date().getFullYear()}
      <a href="/" class="!no-underline"> Soham Dasgupta</a>
    </div>
  </div>
</footer>
