---
import { socials } from "@/data/site.json";
---

<footer class="bg-crust py-10 gap-6 flex flex-col items-center print:hidden">
  <!-- Social -->
  <div class="flex flex-wrap items-center justify-center gap-2">
    {
      socials.map((link) => (
        <a
          href={link.url}
          rel="noopener noreferrer nofollow"
          target="_blank"
          aria-label={link.platform}
          class="transition align-center mr-2 flex h-10 w-10 items-center justify-center rounded-full bg-text text-base font-normal shadow-lg outline-none focus:outline-none hover:bg-mauve"
        >
          <svg
            class="h-4 w-4"
            aria-hidden="true"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox={link.viewBox}
          >
            <path d={link.iconPath} />
          </svg>
        </a>
      ))
    }
  </div>

  <!-- Message -->
  <div class="flex flex-wrap items-center justify-center">
    <div class="text-sm text-text">
      ©
      {new Date().getFullYear()}
      <a href="/" class="!no-underline"> Soham Dasgupta</a>
    </div>
  </div>
</footer>
