---
import clsx from "clsx";
import { socials } from "@/data/site.json";

const { pathname } = Astro.url;
---

<header class="mx-10 flex justify-between py-8">
  <nav class="flex gap-10 text-xl font-bold print:hidden">
    <a
      aria-label="Home page"
      class={clsx("transition hover:text-mauve", {
        "text-mauve": pathname === "/",
      })}
      href="/">Home</a
    >
    <a
      aria-label="Blog page"
      class={clsx("transition hover:text-mauve", {
        "text-mauve": pathname.startsWith("/blog"),
      })}
      href="/blog">Blog</a
    >
  </nav>
  <div class="hidden gap-6 md:flex">
    {
      socials.map((link) => (
        <a
          href={link.url}
          rel="noopener noreferrer nofollow"
          target="_blank"
          aria-label={link.platform}
          class="align-center hover:text-mauve flex items-center justify-center font-normal outline-none transition focus:outline-none"
        >
          <svg
            class="h-6 w-6"
            aria-hidden="true"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox={link.viewBox}
          >
            <path d={link.iconPath} />
          </svg>
        </a>
      ))
    }
  </div>
</header>
