---
import clsx from "clsx";
const { pathname } = Astro.url;
---

<nav class="flex font-bold text-xl gap-8 md:gap-16 py-8 p-4 md:px-24">
  <a
    aria-label="Home page"
    class={clsx("hover:text-mauve", {
      "text-mauve": pathname === "/",
    })}
    href="/">Home</a
  >
  <a
    aria-label="Resume page"
    class={clsx("hover:text-mauve", {
      "text-mauve": pathname.startsWith("/resume"),
    })}
    href="/resume">Resume</a
  >
  <a
    aria-label="Blog page"
    class={clsx("hover:text-mauve", {
      "text-mauve": pathname.startsWith("/blog"),
    })}
    href="/blog">Blog</a
  >
</nav>
