---
import "@fontsource/inter";
---

<html class="frappe bg-base text-text" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" content="/profile.webp" />
    <meta property="og:image:secure_url" content="/profile.webp" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="640" />

    <link rel="icon" type="image/webp" href="/Profile.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <div class="prose prose-2xl">
        <slot />
      </div>
    </div>
  </body>
</html>
