---
import Shell from "@/layouts/shell.astro";
---

<Shell title="Blog">
  <!-- Hero Section -->
  <section class="bg-banner bg-360 animate-banner text-base text-center h-40">
  </section>
  <div class="max-w-6xl prose py-20 mx-auto">
    <slot />
  </div>
</Shell>
